/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

#bio-photo {
  margin: 10px;
  max-width: 500px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
}

.photo-box {
  flex-basis: 50%;
  width:45%;
}

.photo-box img { 
  width: 100%;
}

.text-box { 
  flex-basis: 50%; 
  /*width: 45%;*/}